@font-face {
    font-family: 'typefesseclaire-obscure';
    src: url('./font/typefesse_claire-obscure-webfont.woff2') format('woff2'),
         url('./font/typefesse_claire-obscure-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
h1{font-size:100px;
    font-family: 'typefesseclaire-obscure';
color:black;}
body{background-color:#ffffe6;
font-size:18px;
font-family: 'Radio Canada', sans-serif;}
.answer{color:#ffa64d;
font-style:oblique}
.question{font-weight:bolder;
font-style:normal;
font-size:23px;}
#position{position:fixed;
top:50px;
left:1200px;
background:aquamarine;}

@media only screen and (max-width:768px){
    body{background-color: aquamarine;
    font-size:14px;}
    #position{background-color:#ffa64d;
    left:80%;
font-size:13px;
color:black;}
.question{font-size:16px;}
h1{font-size:50px;}
    }
#columns{ display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-style: none;
border-width: 1px;;
border-color:aquamarine}