body{max-height:100vh;}
.backgroundimage{position:absolute;
top:-10px;
left:0px;
max-width:130%;
max-height:130%;
height:130%;}

img{position:fixed;
    top:-10px;
    left:0px;
    max-width:100vw;}

.mouse{position:absolute;
top:250px;
left:320px;
opacity:0%;
}
.mouse:hover{opacity:100%;
    font-size:20px;
    }

.a{opacity:0%}

@media only screen and (max-width: 768px) {
  img{max-width:160%;
    max-height:160%;
    height:160%;}
}
