.backgroundimage{position:absolute;
top:-10px;
left:0px;
max-width:130%;
max-height:130%;
height:130%;}

img{position:absolute;
    top:-10px;
    left:0px;
    max-width:130%;
    max-height:130%;
    height:130%;}
