.backgroundimage{position:absolute;
top:-10px;
left:0px;
max-width:130%;
max-height:130%;
height:130%;}

img{position:absolute;
    top:-10px;
    left:0px;
    max-width:130%;
    max-height:130%;
    height:130%;}

.mouse{position:absolute;
top:250px;
left:320px;
opacity:0%;
}
.mouse:hover{opacity:100%;
    font-size:20px;
    }

#ba{opacity:0%;}
#na{opacity:0%;}