
@font-face {
    font-family: 'leonardo_fascia_trialm';
    src: url('/Project3/font/leonardofascia-m-trial-webfont.woff2') format('woff2'),
         url('/Project3/font/leonardofascia-m-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{font-size:30px;
    font-family: 'leonardo_fascia_trialm';
color:black;
max-width:5000px;}

body:after {
    position: fixed;
    left: 0; right: 0; 
    background: hsla(180,0%,50%,0.25);
    pointer-events: none;
  }
.mountain1{position:absolute;
    top:100px;
    left:350px;
max-width:95%;
max-height:95%;
height:95%;

}

.mountain2{position:absolute;
    top:-100px;
    left:-90px;
max-width:101%;
max-height:101%;
height:101%;
}

.mountain3{position:absolute;
    top:-10px;
    left:500px;
max-width:50%;
max-height:50%;
height:50%;
}

.scene1{position:absolute;
left:490px;
top:580px;
transform: rotate(-40deg);
}
  

.scene1a{position:absolute;
    left:600px;
    top:430px;
    transform: rotate(-70deg);}

.scene1b{position:absolute;
        left:700px;
        top:330px;
        transform: rotate(-10deg);}

.scene1c{position:absolute;
        left:870px;
        top:180px;
        transform: rotate(-60deg);}

.scene1d{position:absolute;
         left:920px;
         top:100px;
         transform: rotate(-20deg);}

.glacier{position:absolute;
left:1800px;
top:-25px;
max-width:115%;
max-height:115%;
height:115%;
filter:brightness(130%);}

.glacier2{position:absolute;
    left:1600px;
    top:10px;
    max-width:55%;
    max-height:55%;
    height:55%;
    filter:brightness(130%);}


    .glacier3 {
        position: absolute;
        left: 1470px;
        top: 430px;
        max-width: 45%;
        max-height: 45%;
        height: 45%;
        filter: brightness(130%);
    }

.glacier4{position:absolute;
            left:2100px;
            top:-20px;
            max-width:50%;
            max-height:50%;
            height:50%;
            filter:brightness(130%);}

.scene2{position:absolute;
left:1500px;
top:350px;
transform: rotate(30deg);}

.scene2a{position:absolute;
    left:1650px;
    top:380px;}

.scene2b{max-width:100%;
    max-height:100%;
    height:5%;
    position:absolute;
        left:1850px;
        top:380px;}

        .scene2c{position:absolute;
            left:2050px;
            top:380px;}

.stairs{position:absolute;
            left:3200px;
            top:-30px;
            max-width:115%;
            max-height:115%;
            height:115%;
            filter:brightness(140%);}
.pile{position:absolute;
top:-20px;
left:4600px;
max-width:130%;
max-height:130%;
height:130%;
filter:brightness(140%);
}