body{height:700px;}
img{position:absolute;
  top:0px;
  left:0px;
  max-width:150%;
  height: auto;}
h1{left:1000px;
padding: 20px 1em 0 2em;
border:20px;
font-size:100px;
border:20px;
margin:30px;
color:white;
position:fixed;
transform: rotate(90deg);
font-weight:lighter;}
h4{left:1050px;
  padding: 20px 1em 0 2em;
  border:20px;
  font-size:20px;
  top:75px;
  border:20px;
  margin:30px;
  color:white;
  position:fixed;
  transform: rotate(90deg);
  font-weight:lighter;
font-style:italic;}
.descriptioncontainer{position:absolute;
padding: 20px 1em 0 2em;
border:20px;
font-size:30px;
border:20px;
margin:30px;
color:white;
top:1200px;}
.detailcontainer{position:absolute;
padding: 20px 1em 0 2em;
border:20px;
font-size:30px;
border:20px;
margin:30px;
color:white;
top:1200px;
left:900px;}

.description{position:absolute;
  top:300px;
  left:110px;
  color:white;
  width:300px;
  font-size:25px;}
  @media only screen and (max-width:1300px){
h1{left:500px;}
    .description{font-size:20px;
      width:300px;
    left:90px;}
    h4{left:550px;}
    .detailcontainer{
      top:800px;
    left:600px;
  font-size:20px;
width:300px;}
     .descriptioncontainer{
       top:800px;
    font-size:20px;}
  img{max-width:170%;}
    }
@media only screen and (max-width:800px){
.description{top:300px;
left:50px;
font-size:15px;
position:fixed;}
h1{left:-150px;
  transform: rotate(0deg);
font-size:80px;}
h4{top:120px;
  left:-25px;
  transform: rotate(0deg);}
.detailcontainer{position:fixed;
  top:600px;
font-size:20px;
left:500px;
width:200px;}
.descriptioncontainer{position:fixed;
  top:600px;
font-size:20px;
left:-10px;}
img{max-width:180%;}
}

@media only screen and (max-width:600px){
  .description{top:200px;
font-size:10px;
left:50px;
color:white;
width:200px;
top:250px;}
img{max-width:220%;} 
h1{left:-100px;
font-size:60px;
transform: rotate(0deg);}
h4{top:100px;
  left:-20px;
  transform: rotate(0deg);}
.detailcontainer{position:fixed;
  top:550px;
left:300px;
font-size:12px;}
.descriptioncontainer{
  position:fixed;
  font-size:12px;
top:550px;
}
  }
