@font-face {
    font-family: 'leonardo_fascia_trialm';
    src: url('/Project3/font/leonardofascia-m-trial-webfont.woff2') format('woff2'),
         url('/Project3/font/leonardofascia-m-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{font-family: 'leonardo_fascia_trialm';
background-color:darkblue;
color:antiquewhite;}

main{position:absolute;
top:450px;
font-size:30px;
left:20px;

}
.question{position:absolute;
    top:150px;
    font-size:60px;
    font-style: italic;
    left:10px;
}




