@font-face {
    font-family: 'leonardo_fascia_trialm';
    src: url('/Project3/font/leonardofascia-m-trial-webfont.woff2') format('woff2'),
         url('/Project3/font/leonardofascia-m-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{font-family: 'leonardo_fascia_trialm';}
.Map {
    margin-bottom: 1rem;
    border: 1px solid black; 
    padding: 1rem; 
}

#negative-energy{position:absolute;
top:700px;
font-family: 'leonardo_fascia_trialm';}
#positive-energy{position:absolute;
    top:700px;
left:150px;
font-family: 'leonardo_fascia_trialm';}

#neutral{position:absolute;
        top:700px;
    left:300px;
    font-family: 'leonardo_fascia_trialm';}