.hello {
    font-size: 4em;
  }

  @keyframes storm {
    0%   {background-color: white;}
    25%  {background-color: #DCDCDC;}
    35%  {background-color: #A9A9A9;}
    40%  {background-color: #696969;}
    100% {background-color: black;}
  }
 .hello{left:400px;
     position:absolute;
     top:300px;
    font-size: 50px;
    color: #F0E68C;
    text-align: center;
    animation: glow 10s ease-in-out infinite alternate;
  animation-duration:infinite;}
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #F0E68C, 0 0 20px #F0E68C, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 50px #FFD700, 0 0 60px #FFD700, 0 0 70px #FFD700;
    }
    
    to {
      text-shadow: 0 0 20px #F0E68C, 0 0 30px #DAA520, 0 0 40px #DAA520, 0 0 50px #DAA520, 0 0 60px #DAA520, 0 0 70px #DAA520, 0 0 80px #DAA520;
    }
  }
  .next{position:absolute;
  left:1100px;
  top:1235px;}