.hello {
    font-size: 4em;
  }

 .hello{left:500px;
     position:absolute;
     top:350px;
    font-size: 80px;
    color: #F0E68C;
    text-align: center;
    animation: glow 10s ease-in-out infinite alternate;
  animation-duration:infinite;}
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #F0E68C, 0 0 20px #F0E68C, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 50px #FFD700, 0 0 60px #FFD700, 0 0 70px #FFD700;
    }
    
    to {
      text-shadow: 0 0 20px #F0E68C, 0 0 30px #DAA520, 0 0 40px #DAA520, 0 0 50px #DAA520, 0 0 60px #DAA520, 0 0 70px #DAA520, 0 0 80px #DAA520;
    }
  }
  .next{position:absolute;
  left:1100px;
  top:1235px;}

  @media only screen and (max-width:1200px) {
   .hello{left:300px;
    font-size:60px;
  }
  }
  @media only screen and (max-width:700px) {
    .hello{left:180px;
      font-size:35px;
   }
   }
.description{position:absolute;
left:10px;}
.counting{position:absolute;
  top:30px;
left:10px;}